<!DOCTYPE html>
<html lang="en">
<title>Cast! Home</title>

{% extends "base.html" %}
<body>
{% block content %}
	<div class="w3-cell">
		<div class="w3-row-padding w3-padding-hor-32" style="margin:0 -16px">
			{% for post in posts %}
				<div class="w3-third">
					<a class="anchor" id="{{ post.id }}"></a>
					<img src="{{ post.header_image.url }}" alt="Header Image"
					     style="width:100%; background-color: white; border-top-left-radius: 8px; border-top-right-radius: 8px"
					     class="w3-border w3-border-black">
					<div class="w3-container w3-border w3-border-black"
					     style="border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
						<h2><b>{{ post.title }}</b></h2>
						<p><i class="fa fa-clock-o"></i> {{ post.created_at }}</p>
						<p style="margin-top: -20px">
							{% for tag in post.tags.all %}
								<span class="css-selector w3-tag w3-text-black w3-round-large w3-border w3-border-black w3-margin-top"><b>{{ tag }}</b></span>
							{% endfor %}
						</p>
						<hr style="border-top: 1px solid black">
						<div class="body-text" style="word-wrap: break-word">
							{{ post.body|safe }}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
